</br></br>
<%= form_for @order do |f| %>
	<div class="row">
	  	<div class="col-sm-12 col-md-4">
		    <div class="thumbnail">
		      	<%= image_tag("Coffee-Cup.jpg")%></br>
				<div class="caption">
				    <p class = "chosen_font">
				    	Order one of our choice lattes from the espresso bar. We have many varieties to choose from.  
				    </p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-4">
		    <div class="thumbnail">
		      	<%= image_tag("beans.jpg")%></br>
				<div class="caption">
				    <p class = "chosen_font">
				    	Choose from our dark, light and medium roast beans. We bag  just before you arrive.  
				    </p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-4">
		    <div class="thumbnail">
		      	<%= image_tag("o.jpg")%></br>
				<div class="caption">
				    <p class = "chosen_font">
				    	Bold Mountain Coffee’s specialty breakfast BLT. Hand made 5  minutes before pick up.
				    </p>
				</div>
			</div>
		</div>
	</div>

	<div class = "row">
		<div class="col-sm-12 col-md-4">
			<div class = "pull-right">
		    	<%= f.label :java_qty, "Qty: ", :class => "pick" %>
		    	<%= f.number_field :java_qty, in: 1..20, step: 1, :class => "bold_num_field" %>
			</div>
		</div>

		<div class="col-sm-12 col-md-4">
			<div class = "pull-right">				    	
		    	<%= f.label :beans_qty, "Qty: ", :class => "pick" %>
		    	<%= f.number_field :beans_qty, in: 1..20, step: 1, :class => "bold_num_field" %>
			</div>
		</div>

		<div class="col-sm-12 col-md-4">
			<div class = "pull-right">
		    	<%= f.label :sandwich_qty, "Qty: ", :class => "pick" %>
		    	<%= f.number_field :sandwich_qty, in: 1..20, step: 1, :class => "bold_num_field"%>
			</div>			
		</div>

	</div>
	</br></br>
	<div class = "row">
		<div class = "col-sm-8">
			<%= f.label :order_notes, "Order Notes & Specifics", :class => 'pick' %>
			<%= f.text_area :order_notes, :class =>	"form-width", rows: "9" %>
		</div>
		<div class = "col-sm-4">
			</br></br>
			<p class = "italic_font">Thank you for your order!</p>
			</br>
			<p class = "order_font">Your order has been received and will be ready when you arrive at the selected time!</p>

			<div class = "pull-left">
				<%= f.label :pick_up_time, "Pick up time: ", :class => "pick" %>
				<%= f.time_field :pick_up_time, :class => "time_field" %>  
			</div>

		</div>

	</div>
<% end %>
</br></br></br>