<!DOCTYPE html>
<html>
<head>
  <title>Bold Mountain Coffee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "about">
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
      		<%= link_to image_tag("logo.png"), welcome_index_path, :class => "logo" %>
   		</div>
	 	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				</br></br></br></br></br></br></br>
				<li><%= link_to "Order Ahead", new_order_path, :class => "big-font" %></li>
		        <li><%= link_to "About Us", about_index_path, :class => "big-font"%></li>
		        <li><%= link_to "Contact Us", contacts_new_path, :class => "big-font" %> </li>
			</ul>
			<p class="navbar-text pull-right">
				<% if user_signed_in? %>
				  Logged in as <strong><%= current_user.email %></strong>.
				  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
				  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
				  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				  <%= link_to "Create Account", new_user_registration_path, :class => 'navbar-link'  %>
				<% end %>
			</p>
		</div>
	</nav>		
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	
	<div class = "container">
		<%= yield %>
	</div>
	
	<div class=" footer">
		<ul class="nav navbar-nav">
		</br></br></br>
			<li><%= link_to "Order Ahead", new_order_path, :class => "footer-font" %></li>
	        <li><%= link_to "About Us", about_index_path, :class => "footer-font" %></li>
	        <li><%= link_to "Contact Us", contacts_new_path, :class => "footer-font" %> </li>
	        <text> Copyright2015 </text>
		</ul></br></br></br>
		
	</div>
</body>
</html>
